@import "setup";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ranchers", cursive;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  span {
    color: #f9d56e;
    display: inline-block;
    width: 20%;
    font-size: 1.6rem;
  }
}
section {
  background-color: #f18c8e;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  height: calc(100vh - 20px);

  .container {
    margin: 0 auto;
    background-color: #e8505b;
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .logo {
      background-color: #14b1ab;
      border-radius: 50px;
      padding: 5px 20px;
    }
  }
}
.newSummary {
  width: 20%;
  height: 100px;
  margin-right: 200px;
  border: dotted 2px black;
  line-height: 1.5rem;
}

//items' styles
.itemContainer {
  display: flex;
  flex: 1;
  .items {
    margin-right: 20px;
    width: calc(90% - 20px);
    display: flex;
    flex-direction: column;
  }
}
.calculator {
  width: 40px;
  height: 40px;
  background-color: #f9d56e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  .innerCal {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    .dollarSign {
      text-align: left;
      margin-left: 5px;
      margin-top: 3px;
    }
  }
}
#plus {
  width: 100%;
  color: black;
  margin-left: 10px;
  border-radius: 0;
  .insert {
    margin: 0 auto;
    font-size: 20px;
  }
}

.cash {
  width: 10%;
  align-self: center;
}
.boxOne,
.boxTwo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: #363636;
  margin: 15px auto;
  border-radius: 20px;
  padding: 10px;

  div {
    margin: 5px;
    width: calc(100% / 3 - 10px);
    img {
      width: 100%;
    }
  }
}
#ok {
  width: 40px;
  margin-left: 7px;
  margin-top: 10px;
  height: 30px;
}
button {
  width: 75px;
  padding: 5px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #f9d56e;
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  font-family: "Oswald", sans-serif;

  &:hover {
    background-color: #14b1ab;
  }
  &:active {
    background-color: #14b1ab;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}


.copyright p{
  background-color: #e8505b;
  height: 20px;
  text-align: center;
}


.push {
  width: 100%;
  text-align: center;

  button {
    display: inline-block;
    background-color: #f3ecc2;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
  }
}

@media (max-width: 560px) {
  h2 {
    font-size: 1.5rem;
  }
  section {
    flex-direction: column;
    .container {
      width: 100%;
    }
  }
  .newSummary {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .boxOne,
  .boxTwo {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
  button {
    width: 100%;
  }

  .itemContainer {
    flex-direction: column;
    .items {
      width: 100%;
      margin-right: 0;
    }
  }
}
.calculator {
  margin-left: 0;
}
#ok {
  margin-left: 0;
}
